.recipeheader {

    font-size: 40px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to left, #f1bf61, #ee9aba);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    background-color: white;
}   

 .bodystyle {

    background-color: #f7f2e0;
 }

 .imagestyle1 {


    height: 70%;
    align-content: center;
    max-width: 100%;
    background-size: contain;
    border: 1px solid rgb(175, 219, 216);
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    opacity: 0.8;
 }

 .subheader {

   font-family: Garamond, serif;
    color: darkcyan;
    font-size: 20px;
 }

 .liststyles, p {

    font-family: Garamond, serif;
    color: rgb(102, 102, 102);
    font-size: 14px;
 

}




